/* ===== SORT & FILTER ===== */
.dis-filter {
    height: 80vh;
    align-items: center;
    padding: 12px 22px;
    border-radius: 12px;
    margin: 0px 20px 26px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    overflow: auto;
}

.dis-filter::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.dis-filter::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0003;
    visibility: hidden;
}

.dis-filter:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.filter_label {
    font-size: 15px;
    color: var(--black-text-color);
    margin-right: 16px;
}

.filter_page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-filter {
    min-width: 80px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    background-color: var(--gray-web_color);
}

.btn-filter:hover {
    background-color: var(--hoockers-green_color);
}

.filter_btn {
    margin-right: 10px;
}

.filter_text-label a {
    text-decoration: none;
    color: white;
}

.filter_text-label:hover {
    background: var(--black_10_color);
}

.filter_product-btn {
    margin-right: 0;
}

.dis-filter.filter_page i {
    margin-right: 5px;
}

.dis-filter.filter_page button {
    margin-left: 10px;
    background: var(--white_color);
    color: var(--hoockers-green_color);
    border: 2px solid var(--hoockers-green_color);
    font-weight: var(--fw-600);
}

.dis-filter.filter_page button i {
    font-size: 16px;
}

.dis-filter.filter_page button:hover {
    background: var(--hoockers-green_color);
    color: var(--white_color);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* ===== PRODUCT TABLE ===== */
.table {
    width: 100%;
}

.table_section::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_section::-webkit-scrollbar-track {
    border-radius: 12px;
    margin: 46px 6px 6px 6px;
}

.table_section::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0003;
    visibility: hidden;
}

.table_section {
    overflow: auto;
    height: 80vh;
    max-height: 590px;
    margin: 0 20px 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    color: var(--black-text-color);
}

.product-table {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}

.product-table thead th {
    position: sticky;
    top: 0;
    background: var(--hoockers-green_color);
    color: var(--white_color);
    font-size: 16px;
}

.product-table tr th {
    padding: 0.8rem 0.5rem;
    text-align: center;
}

.product-table tr td {
    padding: 0.4rem;
    word-break: break-word;
    text-align: center;
}

.product-table tr:hover td {
    color: var(--black-text-color);
    background: var(--white_color);
    transition: ease-in-out .5s;
}

.product-table th:first-child {
    min-width: 50px;
    width: 80px;
}

.product-table input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.product-table tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.product-table tbody tr td img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 12px;
}

.product-table_name {
    width: 300px;
}

.product-table_id {
    width: 110px;
}

.product-table button {
    border: 1px solid var(--black-text-color);
    outline: none;
    background-color: var(--white_color);
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
}

.product-table button:hover {
    background-color: var(--hoockers-green_color);
    border: 1px solid var(--hoockers-green_color);
}

.product-table button:hover i {
    color: var(--white_color);
}

.product-table button i {
    font-size: 20px;
    color: var(--black-text-color);
}

/* ====== Search sort ====== */
.product-table tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

.product-table tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

.product-table tbody tr td,
.product-table tbody tr td input,
.product-table tbody tr td img,
.product-table tbody tr td button,
.product-table tbody tr td button i {
    transition: .2s ease-in-out;
}

.product-table tbody tr.hide td,
.product-table tbody tr.hide td button,
.product-table tbody tr.hide td button i,
.product-table tbody tr.hide td input {
    padding: 0;
    font: 0 / 0 'Merriweather', serif;
    transition: .2s ease-in-out .5s;
}

.product-table tbody tr.hide td img,
.product-table tbody tr.hide td input {
    height: 0;
    width: 0;
    transition: .2s ease-in-out .5s;
}

/* ===== Table Sort ===== */

table thead th>span {
    font-size: 20px;
    cursor: pointer;
}

/* ===== MODAL - thêm sản phẩm - sửa sản phẩm - xem chi tiết sản phẩm - xóa sản phẩm ===== */
.dis-wrap .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dis-wrap .add-product_modal .modal-content {
    min-width: 420px;
    height: 72vh;
}

.dis-wrap .modal-content h2 {
    margin-top: 0;
    font-size: 28px;
    align-items: center;
    margin-bottom: 10px;
    color: var(--hoockers-green_color);
}

.dis-wrap .popup_form .popup_form-element {
    margin: 10px 0;
}

.dis-wrap .add-product_modal .popup_form .popup_form-element label {
    font-size: 18px;
    font-weight: var(--fw-600);
    color: var(--black-text-color);
    display: flex;
    justify-content: left;
}

textarea {
    resize: vertical;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dis-wrap .popup_form-element select,
.dis-wrap .popup_form .popup_form-element select,
.dis-wrap .popup_form .popup_form-element input[type="text"],
.dis-wrap .popup_form .popup_form-element input[type="file"],
.dis-wrap .popup_form .popup_form-element input[type="number"],
.dis-wrap .popup_form .popup_form-element textarea {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #333;
    border-radius: 6px;
    font-size: 18px;
}

.dis-wrap .btn_ad {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--hoockers-green_color), var(--hoockers-green_80_color), var(--hoockers-green_color));
    background-size: 150%;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 1.725rem 0;
    cursor: pointer;
    transition: .5s;
}

.dis-wrap .btn_ad:hover {
    background-position: right;
    background-color: #ffffff;
}

/* ===== Check Lỗi input ===== */
.error {
    width: 370px;
    display: flex;
    justify-content: left;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.error-input {
    border: 1px solid red !important;
}

.popup_form-element-img .error {
    justify-content: center;
}

/* bảng sản phẩm giảm giá*/
.table_dis-wrapper {
    width: 58%;
}

.dis-table_section::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.dis-table_section::-webkit-scrollbar-track {
    border-radius: 12px;
    margin: 46px 6px 6px 6px;
}

.dis-table_section::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0003;
    visibility: hidden;
}

.dis-table_section {
    overflow: auto;
    height: 62vh;
    max-height: 590px;
    margin: 10px 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    color: var(--black-text-color);
}

.dis-table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}

.dis-table thead th {
    position: sticky;
    top: 0;
    background: var(--hoockers-green_color);
    color: var(--white_color);
    font-size: 16px;
}

.dis-table tr th {
    padding: 0.8rem 0.5rem;
    text-align: center;
}

.dis-table tr td {
    padding: 0.4rem;
    word-break: break-word;
    text-align: center;
}

.dis-table tr:hover td {
    color: var(--black-text-color);
    background: var(--white_color);
    transition: ease-in-out .5s;
}

.dis-table th:first-child {
    min-width: 40px;
    width: 40px;
    padding-left: 16px;
}

.dis-table input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dis-table tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.dis-table_name {
    width: 250px;
}

.dis-table_id {
    width: 150px;
}

/* Tìm kiếm sản phẩm giảm giá */
/* ===== SEARCH BOX - KHUNG TÌM KIẾM ===== */
.table_dis-wrapper .search-box {
    position: relative;
    height: 7vh;
    min-width: 550px;
    width: 100%;
    margin: 10px auto;
}

.table_dis-wrapper .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: white;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    margin: auto;
}

.table_dis-wrapper .search-box input:focus {
    outline: 3px solid var(--hoockers-green_color);
}

.table_dis-wrapper .search-box .bx-search {
    position: absolute;
    height: 35px;
    width: 35px;
    background: #4e7460;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
    cursor: pointer;
}
/* ====== Search sort -  HIỆU ỨNG TÌM KIẾM ====== */
.dis-table tbody tr {
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

.product-table tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

.dis-table tbody tr td,
.dis-table tbody tr td input,
.dis-table tbody tr td img,
.dis-table tbody tr td button,
.dis-table tbody tr td button i {
    transition: .2s ease-in-out;
}

.dis-table tbody tr.hide td,
.dis-table tbody tr.hide td button,
.dis-table tbody tr.hide td button i,
.dis-table tbody tr.hide td input {
    padding: 0;
    font: 0 / 0 'Merriweather', serif;
    transition: .2s ease-in-out .5s;
}

.dis-table tbody tr.hide td img,
.dis-table tbody tr.hide td input {
    height: 0;
    width: 0;
    transition: .2s ease-in-out .5s;
}

.admin_home-section .home-content{
    padding-bottom: 10px;
}