/* ===== SORT & FILTER ===== */
.filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 12px;
    background-color: var(--white_color);
    margin: 0px 20px 26px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    overflow: auto;
}

.filter::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.filter::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0003;
    visibility: hidden;
}

.filter:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.filter_label {
    font-size: 15px;
    color: var(--black-text-color);
    margin-right: 16px;
}

.filter_page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btn-filter {
    min-width: 80px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    background-color: var(--gray-web_color);
}

.btn-filter:hover {
    background-color: var(--hoockers-green_color);
}

.filter_btn {
    margin-right: 10px;
}

.filter_text-label a {
    text-decoration: none;
    color: white;
}

.filter_text-label:hover {
    background: var(--black_10_color);
}

.filter_product-btn {
    margin-right: 0;
}

.filter .filter_page i {
    margin-right: 5px;
}

.filter .filter_page button {
    margin-left: 10px;
    background: var(--white_color);
    color: var(--hoockers-green_color);
    border: 2px solid var(--hoockers-green_color);
    font-weight: var(--fw-600);
}

.filter .filter_page button i {
    font-size: 16px;
}

.filter .filter_page button:hover {
    background: var(--hoockers-green_color);
    color: var(--white_color);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* ===== PRODUCT TABLE ===== */
.table {
    width: 100%;
}

.table_section::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_section::-webkit-scrollbar-track {
    border-radius: 12px;
    margin: 46px 6px 6px 6px;
}

.table_section::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0003;
    visibility: hidden;
}

.table_section {
    overflow: auto;
    height: auto;
    max-height: 590px;
    margin: 0 20px 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    color: var(--black-text-color);
}

.product-table {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}

.product-table thead th {
    position: sticky;
    top: 0;
    background: var(--hoockers-green_color);
    color: var(--white_color);
    font-size: 16px;
}

.product-table tr th {
    padding: 0.8rem 0.5rem;
    text-align: center;
}

.product-table tr td {
    padding: 0.4rem;
    word-break: break-word;
    text-align: center;
}

.product-table tr:hover td {
    color: var(--black-text-color);
    background: var(--white_color);
    transition: ease-in-out .5s;
}

.product-table th:first-child {
    min-width: 50px;
    width: 80px;
}

.product-table input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.product-table tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.product-table tbody tr td img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 12px;
}

.product-table_name {
    width: 300px;
}

.product-table_id {
    width: 110px;
}

.product-table button {
    border: 1px solid var(--black-text-color);
    outline: none;
    background-color: var(--white_color);
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
}

.product-table button:hover {
    background-color: var(--hoockers-green_color);
    border: 1px solid var(--hoockers-green_color);
}

.product-table button:hover i {
    color: var(--white_color);
}

.product-table button i {
    font-size: 20px;
    color: var(--black-text-color);
}

/* ====== Search sort ====== */
.product-table tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

.product-table tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

.product-table tbody tr td,
.product-table tbody tr td input,
.product-table tbody tr td img,
.product-table tbody tr td button,
.product-table tbody tr td button i {
    transition: .2s ease-in-out;
}

.product-table tbody tr.hide td,
.product-table tbody tr.hide td button,
.product-table tbody tr.hide td button i,
.product-table tbody tr.hide td input {
    padding: 0;
    font: 0 / 0 'Merriweather', serif;
    transition: .2s ease-in-out .5s;
}

.product-table tbody tr.hide td img,
.product-table tbody tr.hide td input {
    height: 0;
    width: 0;
    transition: .2s ease-in-out .5s;
}

/* ===== Table Sort ===== */

table thead th>span {
    font-size: 20px;
    cursor: pointer;
}

/* ===== MODAL - thêm sản phẩm - sửa sản phẩm - xem chi tiết sản phẩm - xóa sản phẩm ===== */
.add-product_modal,
.edit-product_modal,
.view-product_modal,
.delete-product_modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.add-product_modal .modal-content,
.edit-product_modal .modal-content {
    width: 650px;
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    color: var(--gray-web_color);
    cursor: pointer;
}

.close-popup-btn:hover {
    color: var(--hoockers-green_color);
}

.modal-content h2 {
    margin-top: 0;
    font-size: 28px;
    align-items: center;
    margin-bottom: 10px;
    color: var(--hoockers-green_color);
}

.popup_form .popup_form-element {
    margin: 15px 0;
}

.add-product_modal .popup_form .popup_form-element label,
.edit-product_modal .popup_form .popup_form-element label,
.view-product_modal .popup_form .popup_form-element label {
    font-size: 18px;
    font-weight: var(--fw-600);
    color: var(--black-text-color);
    display: flex;
    justify-content: left;
}

textarea {
    resize: vertical;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup_form-element select,
.popup_form .popup_form-element select,
.popup_form .popup_form-element input[type="text"],
.popup_form .popup_form-element input[type="file"],
.popup_form .popup_form-element textarea {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #333;
    border-radius: 6px;
    font-size: 18px;
}

/* Khung select danh mục */
.popup_form-element select,
.popup_form .popup_form-element select {
    cursor: pointer;
    font-weight: var(--fw-500);
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;

}

.select-category-wrapper {
    position: relative;
}

.select-category-wrapper::before,
.select-category-wrapper::after {
    content: "";
    position: absolute;
    right: 20px;
    pointer-events: none;
}

.select-category-wrapper::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--black-text-color);
    top: 57%;
}

.select-category-wrapper::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--black-text-color);
    top: 73%;
}

.popup_form .popup_form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background: var(--hoockers-green_80_color);
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

.btn_ad {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--hoockers-green_color), var(--hoockers-green_80_color), var(--hoockers-green_color));
    background-size: 150%;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn_ad:hover {
    background-position: right;
    background-color: #ffffff;
}

/* Lựa chọn ảnh */
.popup_form-element-img {
    position: relative;
}

.popup_form-element-img>input[type="file"] {
    display: none !important;
}

.popup_form-element-img>label {
    display: block !important;
    position: relative;
    background-color: var(--hoockers-green_color);
    color: white !important;
    font-size: 18px;
    text-align: center !important;
    width: 300px;
    padding: 18px 0;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

.popup_form-element-img p {
    text-align: center;
    margin: 20px 0 20px 0;
}

.popup_form-element-img #upload_product_images,
.popup_form-element-img #upload_product_images-edit {
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.popup_form-element-img figure {
    width: 45%;
}

.popup_form-element-img img,
.popup_form-element-img_view img {
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.popup_form-element-img figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}

/* ===== Check Lỗi input ===== */
.error {
    display: flex;
    justify-content: left;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.error-input {
    border: 1px solid red !important;
}

.popup_form-element-img .error {
    justify-content: center;
}

/* ===== Xem chi tiết sản phẩm ===== */
.view-product_modal .modal-content {
    width: 850px;
}

.view_modal {
    display: flex;
    align-items: baseline;
    font-size: 1.075rem;
}

.product_view-content {
    margin-left: 8px;
}

.product_view-textarea {
    text-align: left;
    font-size: 1.075rem;
    margin-top: 6px;
    width: 95%;
}

.upload_product_images-view {
    margin-top: 10px;
}

.upload_product_images-view img {
    margin: 5px;
}

.product_rating-view i {
    color: var(--star_color);
}

/* ===== Xóa sản phẩm ===== */
.delete-modal-content {
    position: relative;
    width: 400px;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
}

.delete_modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: var(--hoockers-green_color);
    padding: 12px 16px;
    color: white;
}

.delete_modal-header h2 {
    font-size: 1.625rem;
    margin: 0;
}

.delete_modal-header i {
    font-size: 1.5rem;
    font-weight: var(--fw-600);
    cursor: pointer;
}

.delete_modal-middle{
    font-size: 1.025rem;
    text-align: left;
    margin: 0 16px 30px;
    font-weight: var(--fw-600);
}

.delete_modal-footer{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.delete_modal-footer button{
    background-color: var(--hoockers-green_80_color);
    color: white;
    font-weight: var(--fw-600);
    font-size: 1.25rem;
    padding: 5px 20px;
    border-radius: 8px;
    transition: ease-in-out .3s;
}

.delete_modal-footer button:hover{
    background-color: var(--hoockers-green_color);
}