<!DOCTYPE html>
<html lang="en">

<%- include ('genaral/head.ejs') %>

<body>
    <!-- MENU -->
    <%- include ('genaral/menu.ejs') %>

    <!-- HOME CONTENT -->
    <div class="cart">
        <div class="table_section">
            <table class="cart-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"> </th>
                        <th>Sản Phẩm</th>
                        <th class="cart_price">Đơn Giá</th>
                        <th>Số Lượng</th>
                        <th>Số Tiền</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="product-checkbox" onclick="calculateTotal()"></td>
                        <td class="cart_produuct">
                            <img src="../img/product_detail_04.jpg" alt="Product Image 1" class="product-image">
                            <p>
                                Kem đánh bóng kim loại Autosol Metal Polish dddddddddddd dddddddđ
                                sssssssssssssssssssssssssssssss ddfdsfdsfds
                            </p>
                        </td>
                        <td>500.000.000 đ</td>
                        <td class="qty_field">
                            <button class="qty-btn" onclick="updateQuantity(this, -1)">-</button>
                            <input type="number" value="1" min="1" readonly>
                            <button class="qty-btn" onclick="updateQuantity(this, 1)">+</button>
                        </td>
                        <td class="cart_price">500.000.000 đ</td>
                        <td><button class="remove-btn" onclick="removeProduct(this)">Xóa</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="product-checkbox" onclick="calculateTotal()"></td>
                        <td class="cart_produuct">
                            <img src="../img/product_detail_03.jpg" alt="Product Image 1" class="product-image">
                            <p>
                                Kem đánh răng
                            </p>
                        </td>
                        <td>123.000 đ</td>
                        <td class="qty_field">
                            <button class="qty-btn" onclick="updateQuantity(this, -1)">-</button>
                            <input type="number" value="1" min="1" readonly>
                            <button class="qty-btn" onclick="updateQuantity(this, 1)">+</button>
                        </td>
                        <td class="cart_price">123.000 đ</td>
                        <td><button class="remove-btn" onclick="removeProduct(this)">Xóa</button></td>
                    </tr>               
                    <tr>
                        <td><input type="checkbox" class="product-checkbox" onclick="calculateTotal()"></td>
                        <td class="cart_produuct">
                            <img src="../img/product_detail_03.jpg" alt="Product Image 1" class="product-image">
                            <p>
                                Kem đánh răng
                            </p>
                        </td>
                        <td>123.000 đ</td>
                        <td class="qty_field">
                            <button class="qty-btn" onclick="updateQuantity(this, -1)">-</button>
                            <input type="number" value="1" min="1" readonly>
                            <button class="qty-btn" onclick="updateQuantity(this, 1)">+</button>
                        </td>
                        <td class="cart_price">123.000 đ</td>
                        <td><button class="remove-btn" onclick="removeProduct(this)">Xóa</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="product-checkbox" onclick="calculateTotal()"></td>
                        <td class="cart_produuct">
                            <img src="../img/product_detail_02.jpg" alt="Product Image 1" class="product-image">
                            <p>
                                Kem đánh răng
                            </p>
                        </td>
                        <td>123.000 đ</td>
                        <td class="qty_field">
                            <button class="qty-btn" onclick="updateQuantity(this, -1)">-</button>
                            <input type="number" value="1" min="1" readonly>
                            <button class="qty-btn" onclick="updateQuantity(this, 1)">+</button>
                        </td>
                        <td class="cart_price">123.000 đ</td>
                        <td><button class="remove-btn" onclick="removeProduct(this)">Xóa</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="product-checkbox" onclick="calculateTotal()"></td>
                        <td class="cart_produuct">
                            <img src="../img/product_detail_01.jpg" alt="Product Image 1" class="product-image">
                            <p>
                                Kem đánh răng
                            </p>
                        </td>
                        <td>123.000 đ</td>
                        <td class="qty_field">
                            <button class="qty-btn" onclick="updateQuantity(this, -1)">-</button>
                            <input type="number" value="1" min="1" readonly>
                            <button class="qty-btn" onclick="updateQuantity(this, 1)">+</button>
                        </td>
                        <td class="cart_price">123.000 đ</td>
                        <td><button class="remove-btn" onclick="removeProduct(this)">Xóa</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="summary">
            <p>Tổng thanh toán (<span id="itemCount">0 sản phẩm</span>): <span id="totalAmount">0 đ</span></p>
            <button class="purchase-btn" onclick="purchase()">Mua Hàng</button>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include ('genaral/footer.ejs') %>

    <!-- JAVASCRIPT LINK --><!-- IONCIONS LINK -->
    <%- include ('genaral/linkandicon.ejs') %>

</body>

</html>