<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>



<body>
    <div id="topnav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
        <li><a href="/table">table User</a></li>
    </ul>
    </div>
    <form action="/check" method="post">
          
        <fieldset>
            <legend>Form add user</legend>
        
            <label for="">email</label>
            <input type="text" name = "id"/>

            

            <label for="">pass</label>
            <input type="text" name = "pass"/>

            <label for="">quyen</label>
            <input type="text" name="quyen"/>
            <button>Save</button>
        </fieldset>

    </form>


    <!-- <div class="form-add-new">
        <div class="input-group">
             <form action="/create-user" method="post">
          
                <fieldset>
                    <legend>Form add user</legend>
                
                    <label for="">email</label>
                    <input type="text" name = "id"/>

                    

                    <label for="">pass</label>
                    <input type="text" name = "pass"/>

                    <label for="">quyen</label>
                    <input type="text" name="quyen"/>
                    <button>Save</button>
                </fieldset>

            </form>

        </div>
    </div> -->


</body>



</html>