<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<%- include ('genaral/head.ejs') %>

<body>
    <!-- MENU -->
    


    <!-- FORM ĐĂNG NHẬP / ĐĂNG KÝ -->
    <section class="login_container login_forms">
        <!-- Đăng nhập -->
        <div class="login_form login">
            <div class="form-content">
                <h4 class="login_header_title">Đăng nhập</h4>
                <form id="login-form" action="/login/login-user" method="POST">
                    

                    <div class="field_to_error">
                        <div class="login_field login_input-field">
                            <input type="text" placeholder="Số điện thoại" class="input phone" name="User_ID">
                        </div>
                       
                    </div>

                    <div class="field_to_error">
                        <div class="login_field login_input-field">
                            <input type="password" placeholder="Mật khẩu" class="password" name="Pass_word">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <!-- Check lỗi input -->
                        <% if (err != null) { %>
                            <span class="error password_error">
                                <i class='bx bx-error-circle error-icon'></i>
                                <p class="error-text"><%= err %></p>
                            </span>
                        <% } %>
                    </div>

                    

                    <div class="login_field login_button-field field_to_error submit_button">
                        <input type="submit" value="Đăng nhập">
                    </div>
                    
                </form>

                <div class="login_form-link">
                    <span>Bạn chưa có tài khoản? <a href="#" class="link_to_login signup-link">Đăng ký ngay</a></span>
                </div>
            </div>

            <div class="line"></div>

            
        </div>

        <!-- Đăng ký -->

        <div class="login_form signup">
            <div class="form-content">
                <h4 class="login_header_title">Đăng ký</h4>
                <form id="signup-form" onsubmit="return false;">
                    <div class="field_to_error name-field">
                        <div class="login_field login_input-field ">
                            <input type="text" placeholder="Tên đăng nhập" class="input name" name="User_ID">
                        </div>
                        <!-- Check lỗi input -->
                        <span class="error name_error" style="display:none;">
                            <i class='bx bx-error-circle error-icon'></i>
                            <p class="error-text">Vui lòng nhập tên đăng nhập.</p>
                        </span>
                    </div>

                    <div class="field_to_error name-field">
                        <div class="login_field login_input-field ">
                            <input type="text" placeholder="Tên của bạn" class="input name" name="Ho_ten">
                        </div>
                        <!-- Check lỗi input -->
                        <span class="error name_error" style="display:none;">
                            <i class='bx bx-error-circle error-icon'></i>
                            <p class="error-text">Vui lòng nhập tên.</p>
                        </span>
                    </div>

                    <div class="field_to_error">
                        <div class="login_field login_input-field">
                            <input type="text" placeholder="Số điện thoại" class="input phone" name="Dien_thoai">
                        </div>
                        <!-- Check lỗi input -->
                        <span class="error phone_error" style="display:none;">
                            <i class='bx bx-error-circle error-icon'></i>
                            <p class="error-text">Số điện thoại không hợp lệ.</p>
                        </span>
                    </div>

                    <div class="field_to_error">
                        <div class="login_field login_input-field">
                            <input type="text" placeholder="Địa chỉ" class="input address" name="Dia_chi">
                        </div>
                        <!-- Check lỗi input -->
                        <span class="error address_error" style="display:none;">
                            <i class='bx bx-error-circle error-icon'></i>
                            <p class="error-text">Vui lòng nhập địa chỉ.</p>
                        </span>
                    </div>

                    <div class="field_to_error create-password">
                        <div class="login_field login_input-field">
                            <input type="password" placeholder="Tạo mật khẩu" class="password" name="Pass_word">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <!-- Check lỗi input -->
                        <span class="error password_error" style="display:none;">
                            <i class='bx bx-error-circle error-icon'></i>
                            <p class="error-text">Vui lòng nhập mật khẩu có ít nhất 6 ký tự gồm chữ và số.</p>
                        </span>
                    </div>

                    <div class="field_to_error confirm-password">
                        <div class="login_field login_input-field">
                            <input type="password" placeholder="Nhập lại mật khẩu" class="cPassword">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <!-- Check lỗi input -->
                        <span class="error cPassword_error" style="display:none;">
                            <i class='bx bx-error-circle error-icon'></i>
                            <p class="error-text">Mật khẩu không trùng khớp.</p>
                        </span>
                    </div>

                    <div class="login_field login_button-field field_to_error submit_button">
                        <input type="submit" value="Đăng ký">
                    </div>
                </form>

                <div class="login_form-link">
                    <span>Bạn đã có tài khoản? <a href="#" class="link_to_login login-link">Đăng nhập</a></span>
                </div>
            </div>

            <div class="line"></div>

           
        </div>
    </section>



    <!-- FOOTER -->
    

    <!-- JAVASCRIPT LINK  AND IONCIONS LINK-->
    <%- include ('genaral/linkandicon.ejs') %>
</body>

</html>