.rating_container {
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
}
.rating_date-invoice {
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;

}
.rating_product-review {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.rating_product-image {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.rating_product-details {
    flex: 1;
    padding-left: 20px;
}
.rating_product-name {
    height: 80px;
    margin-bottom: 5px;
    font-size: 20px;
}
.rating_rating, .rating_submit-review {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
.rating_rating span, .rating_submit-review button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}
.rating_submit-review button {
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #67987e;
}

.rating_submit-review button:hover {
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #4e7460;
}

.review-section {
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.overall-rating_point {
    display: flex;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 100%);
    height: 150px;
    align-items: center;
    border: 0.5px solid  hsl(0, 0%, 100%, 0.5);
    border-radius: 5px;
}

.overall-rating_point_a {
    margin-left: 20px;
}
.overall-rating_point_container {
    display: flex;
    justify-content:end; 
    align-items:end;  
}

.overall-rating_point_container_rating {
    padding-right: 10px;
}

.overall-rating_point_container_text {
    vertical-align: bottom;
}
.rating-number {
    font-size: 2em;
    color: #e53935;
    margin-right: 10px;
}

.rating_starts {
    display: flex;
}

.rating_starts-start span {
    font-size: 1.5em;
    color: #ffcc00;
}

.rating_starts-start {
    display: flex;
}

.rating_start-comment {
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    width: 200px;
    display: flex;
}

.rating_start-comment:focus {
    outline: none;
}

.rating_start-comment::placeholder {
}

.overall-rating_point_button {
    display: flex;
    justify-content: center; 
    align-items: center;  
    gap: 10px;               
    margin-left: 20px;
}

.overall-rating_point_button button {
    justify-content: center;
}

.overall-rating-review {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
    border: 0.5px solid  hsl(0, 0%, 100%, 0.5);
    border-radius: 5px;
}

.overall-rating-review-header {
    display:grid;
    align-items: center;
    margin-bottom: 10px;
}

.overall-rating-username-date {
    display: flex;
    flex-direction: column;
}

.overall-rating-username {
    font-weight: bold;
}

.overall-rating-review-date {
    color: #999;
}

.review-content {
    background-color: #eee;
}

