<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GLAM</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="/admin/css/style.css"/>
    <link rel="stylesheet" href="/admin/css/product.css">
    <link rel="stylesheet" href="/admin/css/order.css">
    <link rel="stylesheet" href="/admin/css/customer.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Đường dẫn tới thư viện Chart.js -->

    <!-- ICON Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    
</head>


