<footer class="footer" data-section>
    <div class="container">

        <div class="footer-top">

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title logo">G <span>LAM</span></p>
                </li>

                <li>
                    <p class="footer-list-text">
                        Tìm cửa hàng gần bạn tại đây <a href="#" class="link">Xem cửa hàng gần đây</a>
                    </p>
                </li>

                <li>
                    <p class="footer-list-text bold"><i class="ri-phone-fill"></i> 0986.448.789</p>
                </li>

                <li>
                    <p class="footer-list-text">GLAM_cosmetic@gmail.com</p>
                </li>

            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Chuyển trang</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Chăm sóc tóc</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Chăm sóc da</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Nước hoa</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Trang điểm</a>
                </li>

            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Thông tin</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Trang chủ</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Liên hệ</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Shipping FAQ</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Điều khoản</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Chính sách quyền riêng tư</a>
                </li>

            </ul>

            <div class="footer-list">

                <p class="newsletter-title">Nhận ưu đãi sớm nhất</p>

                <p class="newsletter-text">
                    Đăng ký để nhận thông tin ưu đãi và thông báo mới nhất về sản phẩm.
                </p>

            </div>

        </div>

        <div class="footer-bottom">

            <div class="wrapper">

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>
            </div>

            <a href="#" class="logo">
                G<span>LAM</span>
            </a>

            <img src="./img/pay.png" width="313" height="28" alt="available all payment method" class="w-100">

        </div>

    </div>
</footer>